<div class="candlestick">
  <div class="info">
    <h2 class="name">{{data.name}}</h2> &bull;
    <span class="metadata">
      <span class="highlight tests">{{data.tests.length}} tests</span> for
      <span class="highlight employees">{{data.bounds.patients}} employee<span ng-if="data.bounds.patients > 1">s</span></span>

      <br>
      <!--<span ng-if="data.bounds.duration.years">
        <span class="highlight years">{{data.bounds.duration.years}} years</span>,
      </span>
      <span class="highlight months">{{data.bounds.duration.months}} months</span>-->
      ({{data.bounds.start | date:"MMM. yyyy"}} to {{data.bounds.end | date:"MMM. yyyy"}})
    </span>
  </div>
  <div class="candlestick-area">
    <canvas-bar></canvas-bar>
  </div>
</div>