* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
}

@import "app";
@import "candlestick";
@import "canvasBar";
@import "boundary";
@import "popup";

ul {
  padding: 0;
  margin: 1em 0;

  li {
    list-style: none;
  }
}

.show-more {
  display: block;
  margin: auto;
  border: 1px solid #CCC;
  padding: 4px 8px;
  background: #EEE;
  color: #555;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Oswald";
  cursor: pointer;
}