<main class="viz" ng-controller="resultController">
  <boundary-line level="60" bounds="chartBounds"></boundary-line>
  <boundary-line level="25" bounds="chartBounds"></boundary-line>
  <boundary-line level="10" bounds="chartBounds"></boundary-line>
  <ul>
    <li class="candlestick-row" ng-repeat="result in results" >
      <candle-stick data="result" bounds="chartBounds">
        {{notes[result.name]}}
      </candle-stick>
      <section class="children" ng-if="result.known">
        <candle-stick ng-repeat="known in result.known" data="known" bounds="chartBounds">
          {{notes[result.name]}}
        </candle-stick>
      </section>
    </li>
  </ul>
</main>