<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Archivo+Black|Oswald|Roboto+Condensed">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <%= t.include("_angular.html") %>

    <div class="popup">
      <a class="close">&times;</a>
      <div class="content">

      </div>
    </div>

    <script>
var bloodTests = <%= JSON.stringify(csv.levels) %>;
    </script>

    <script src="app.js"></script>
    <% /*= t.include("partials/_adFoot.html") */ %>
  </body>
</html>