<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <ul>
      <li><strong>10 micrograms <!--of lead -->per deciliter<!-- of blood-->:</strong> CDC considers elevated for the public and can harm adults.
      <li><strong>25 micrograms per deciliter:</strong> A worker has been overexposed to lead and serious health problems can occur.
      <li><strong>60 micrograms per deciliter:</strong> Employee must be removed from work area until lead level decreases.
      <li><strong>100 micrograms per deciliter:</strong> Severe brain and kidney damage can occur.
    </ul>

    <%= t.include("_angular.html") %>

    <div class="popup">
      <a class="close">&times;</a>
      <div class="content">

      </div>
    </div>

    <cite>Source: Center for Disease Control and Prevention, Washington Labor and Industries, Occupational Safety & Health Administration, U.S. Environmental Protection Agency</cite>

    <script>
var bloodTests = <%= JSON.stringify(csv.levels) %>;
    </script>

    <script src="app.js"></script>
    <% /*= t.include("partials/_adFoot.html") */ %>
  </body>
</html>